<lint-module
    format="1"
    dir="D:\book\app"
    name=":app"
    type="APP"
    maven="book:app:unspecified"
    agpVersion="9.1.0"
    buildFolder="build"
    bootClassPath="D:\Android-SDK\platforms\android-36.1\android.jar;D:\Android-SDK\build-tools\36.0.0\core-lambda-stubs.jar"
    javaSourceLevel="11"
    compileTarget="android-36.1"
    neverShrinking="true"
    highlightGradualR8Api="false">
  <lintOptions
      abortOnError="true"
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true"/>
  <variant name="debug"/>
</lint-module>
